<div class="contents-wrap">
	<h2>{{header}}</h2>
	<div class="full-width">
		<img src="img/{{image}}"/>
	</div>
	<a class="next select-button">
		{{button_text}}
		<img class="right-arrow" src="img/right_arrow.png"/>
	</a>
	<div class="copy-wrap">
		{{{description}}}
	</div>
    {{#if link}}
        <a href="#" data-url="{{link.url}}"
           class="select-button green link">
            {{link.text}}
            <img class="right-arrow" src="img/right_arrow.png"/>
        </a>
    {{/if}}
</div>