<div class="contents-wrap">
	<h2 class="question">{{{question_text}}}</h2>
	<div class="copy-wrap">
		<p>{{{description}}}</p>
	</div>
	<div class="question-choices">
		<ul>
			{{#each answers}}
				<li><a class="answer" data-question-id="{{../question_id}}" data-answer-id="{{id}}">{{text}}</a></li>
			{{/each}}
		</ul>
	</div>
</div>